body {
    background: rgb(52, 52, 52);
    padding: 30px;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    display: flex;
    flex-direction: column;
}
header {
    color: white;
}

.timetable-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timetable-preview table.classesAdded {
    background: whitesmoke;
    border-collapse: collapse;
}
.timetable-preview table.classesAdded td,
.timetable-preview table.classesAdded th {
    border: 1px solid black;
    padding: 10px;
}